@page "/Chart"

<NBP.Components.SelectTable OnSelect="Change"></NBP.Components.SelectTable>
<div class="col-4 col-xl-2">

    @if (NBPTable.Table != null)
    {

        <MudSelect T="string" ValueChanged="ChangeCur" Label="Code" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in NBPTable.Rates)
            {
                <MudSelectItem Value="item.Code"></MudSelectItem>
            }
        </MudSelect>
        <MudFab Color="Color.Primary" OnClick="AddCur" StartIcon="@Icons.Material.Filled.Add" />
    }
    <MudDateRangePicker Label="Select date" Editable="true" AutoClose="true" TextChanged="SelectedDate" @bind-DateRange="_dateRange" @ref="_picker" />
</div>

<div class="d-flex m-auto">
    <LineChart @ref="lineChart" Width="800" Class="mb-4" />
</div>